#clock {
	z-index: 1;

}

#clock img { 
	text-align: center;
	position: absolute;
	top: 20%;
	right: 50%;
	display: block;
}

#hour {
	z-index: 95;

}

#minute {
	z-index: 96;
}

#second {
	z-index: 99;
	/*transform: rotate(45deg);*/
}
